<style>
    body {
        background-size: 600px;
    }
    p {
        padding-left:20px;
        padding-right:20px;
        text-align:center;
    }
    .projStats{
        list-style:none;
        display:inline-block;
    }
    #projstat{
        text-align:center;
        float:left;
    }
    #projsum{

        font-size:13px;
    }
    #projname{
        font-size:18px;
    }
</style>
<img width="100%" height="auto" src=<%=metadata['image_url']%>>
</img>

<ul class="projStats">
    <li id="projname"><%=metadata['owner_id']%></p>
    <li id="projstat"><%=metadata['views']%></li>
    <li id="projstat"><%=metadata['comments']%></li>
    <li id="projstat"><%=metadata['followers']%></li>
    <li id="projstat"><%=metadata['skulls']%></li>
</ul>
<p id="projname"><%=metadata['name']%></p>
<p id="projsum"><%=metadata['summary']%></p>

<script>

    // By default, hide tooltip
    document.addEventListener('DOMContentLoaded', function() {

    });

    // Display metadata on hover
    function displayMeta(owner) {
        // If owner not null, 
        if (owner) {
            document.getElementById('project-id').innerHTML = owner; 
        }
    }

</script>