<style>
    body {
        background-size: 600px;
    }
    #name-summary p {
        padding-left:20px;
        padding-right:20px;
        text-align:center;
    }

    #name-summary {
        height:100%;
        margin-top:10%;
    }
    #projsum{
        font-size:15px;
    }
    #projname{
        padding-top: 5%;
        overflow:hidden;
        font-size:20px;
        text-align:center;
    }
    .projStats{
        margin:0;
        padding:0;
        padding-top:5%;
        width:100%;
        overflow:hidden;
        list-style:none;
        text-align:center;
    }
    .userStats {
        margin:0;
        padding:0;
        padding-top:5%;
        width:100%;
        overflow:hidden;
        list-style:none;
        text-align:center;
    }
    #user-rank{
        text-align:center;
        font-size: 20px;
    }
    .projStats li{
        display:inline-block;
    }

    .userStats li {
        margin-right:5%;
        display:inline-block;
    }
    .profile-cont {
        width:60%;
        text-align:center;
        margin-left:5%;
        display:inline-block;
    }
    .profname {
        font-size:3vh;
    }
    .profname a{
        font-size: 2vh;
        color:black;
        text-decoration:none;
    }
    .profname a:hover{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        color:black;
        text-decoration:line;
    }

    .profpic img {
        margin-top:8%;
        margin-left:8%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        float:left;
        border-radius:50%;
        height:18%;
        width:18%;
    }
    .arrow-left{
        position:absolute;
        z-index:2;
        margin-left:10vw;
        margin-top:10vh;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid white; 
    }
    .popup {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        position:absolute;
        height:auto;
        width:200px;
        max-height:605px;
        background:white;
        z-index:1;
        display:inline-block;
        overflow:hidden;
        border-radius:5%;
        padding-right: 10px;
        padding-left:10px;
    }
    .popup, .arrow-left{
        visibility:hidden;
    }
    @media only screen and (max-width:500px) {
        .popup {
            height:auto;
            width:250px;
        }
    }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<img width="100%" height="auto" src=<%=metadata['image_url']%>></img>
<div id="profile">
    <span class="profpic" id="user-img-<%=num%>"></span>
</div>

<div class="arrow-left" id="arrow-<%=num%>"></div>
<div class="popup" id="userProf-<%=num%>"></div>

<div class="profile-cont">
    <p id="projname"><%=metadata['name']%></p>
</div>

<ul class="projStats">
    <li id="projstat"><i class="fas fa-eye"></i></li>
    <li id="projstat"><%=metadata['views']%></li>
    <li id="projstat"><i class="fas fa-comments"></i></li>
    <li id="projstat"><%=metadata['comments']%></li>
    <li id="projstat"><i class="fas fa-users"></i></li>
    <li id="projstat"><%=metadata['followers']%></li>
    <li id="projstat"><i class="fas fa-skull"></i></li>
    <li id="projstat"><%=metadata['skulls']%></li>
</ul>

<div id="name-summary">
    <p id="projsum"><%=metadata['summary']%></p>
</div>

<script>
    // By default, hide tooltip
    document.addEventListener('DOMContentLoaded', function() {
        // Get the user id and construct url for GET call
        var userId = <%=metadata['owner_id']%>
        var index = <%=num%>
        var userUrl = 'https://api.hackaday.io/v1/users/' + userId + '?api_key=QlhAEh7ym6so8Puk';
        var imgId = 'user-img-'+index;
        var userCard = 'userProf-'+index;
        var currArrow = 'arrow-'+index;

        // If hover on user image, display metadata
        var profile = document.getElementById(imgId);
        var userMeta = document.getElementById(userCard);
        var arrow = document.getElementById(currArrow);

        // Hover to get user metadata
        profile.addEventListener('mouseenter', function() {
            // Show popup
            userMeta.style.visibility = 'visible';
            var currId = <%=metadata['owner_id']%>
            // Create new https request
            var http = new XMLHttpRequest();
            // Once request is recieved, parse response and append
            http.onreadystatechange = function() {
                // If request is done and successful, parse
                if (this.readyState == 4 && this.status == 200) {
                    var data = this.responseText;
                    data = JSON.parse(data);
                    userMeta.innerHTML = 
                    '<p id="user-rank">'+data['username']+' | '+data['rank']+'</p>'+
                    '<ul class="userStats">'+
                        '<li id="projstat"><i class="fas fa-users"></i></li>'
                        +'<li id="projstat">'+data['followers']+'</li>'
                        +'<li id="projstat"><i class="fas fa-tasks"></i></li>'
                        +'<li id="projstat">'+data['projects']+'</li>'
                        +'<li id="projstat"><i class="fas fa-skull"></i></li>'
                        +'<li id="projstat">'+data['skulls']+'</li>'
                    +'</ul>'+
                    '<p>Hi, I\'m from '+data['location']+'!<br><br> About me: '+data['who_am_i']+
                    '<br><br>Goals: '+data['what_i_would_like_to_do']+'</p>';
                }
            };
            http.open("GET", userUrl, true);
            http.send();
        });

        // Mouse leave to hide
        profile.addEventListener('mouseleave', function() {
            // Show popup
            userMeta.style.visibility = 'hidden';
        });

        // Create new https request
        var xhttp = new XMLHttpRequest();
        // Once request is recieved, parse response and append
        xhttp.onreadystatechange = function() {
            // If request is done and successful, parse
            if (this.readyState == 4 && this.status == 200) {
                var data = this.responseText;
                data = JSON.parse(data);
                var userImg = document.getElementById(imgId);
                userImg.innerHTML = '<a href='+data['url']+'><img src='+data['image_url']+'></a>';
            }
        };
        xhttp.open("GET", userUrl, true);
        xhttp.send();
    });

</script>